* {
    margin: 0px;
    padding: 0px;
}

/*PAGINA INICIO*/
header {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: #24282b;
    border-bottom: 5px solid #1292d3;
}

/*TITULO HEADER*/
h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    width: 550px;
    font-family: Verdana;
}

#tituloHeader {
    color: white;
}

#palabraheader {
    color: #1292d3;
    font-size: 40px;
    margin-left: 10px;
}

/*NAVEGADOR*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    color: white;
    font-family: Verdana;
    text-decoration: none;
}

a.navegadores:hover {
    color: #1292d3;
}

a.navegadores {
    /*BOTONES NAVEGADOR*/
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/*STYLE SECTION UNO*/
#seccionUno {
    display: flex;
    flex-direction: column;
    background: url(../Assets/cabecera.jpg) no-repeat;
    background-size: 100% 140%;
    height: 680px;
    justify-content: space-between;
}

h1 {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    margin: 100px 25px 25px 25px;
    font-size: 75px;
    text-align: center;
    font-family: Verdana;
}

#HcuatroSeccionUno {
    /*SUBTITULO*/
    text-align: center;
    font-size: 30px;
    color: white;
    margin-left: 42px;
    font-family: Arial;
}

/*SECCION DE INGRESO EN LA SECCION UNO*/
#seccionUnoDos {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 210px;
    background-color: #24282b;
    height: 100px;
    padding: 15px;
    opacity: 0.85;
}

#contenedorIngreso {
    /*CONTENEDOR DE MENSAJE SUSCRIPCION Y LOGIN*/
    display: flex;
    width: 50%;
    align-items: center;
}

#mensajeIngreso {
    /*CONTENEDOR DE INGRESO CORREO Y BOTON SUSCRIPCION*/
    width: 50%;
    color: white;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*TEXTOS CONTENEDOR INGRESO*/
h6 {
    /*TEXTO CORREO*/
    text-align: left;
    color: grey;
    background-color: white;
    width: 40%;
    height: 20px;
    padding: 10px 5px 5px 5px;
    font-size: 15px;
    margin-right: 10px;
}

h5 {
    /*TEXTO SUSCRIBETE*/
    background-color: #e8491d;
    width: 25%;
    height: 45px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 20px;
}

/*STYLE SECCION DOS*/
#seccionTres {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding-bottom: 10px;

}

#logos {
    /*CONTENEDOR DE LOS LOGOS*/
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

#descripciones {
    /*CONTENEDOR PARRAFO DE LOGOS*/
    display: flex;
    justify-content: space-around;
}

.parrafosDescripcion {
    /*CLASE PARRAFOS DESCRIPCION*/
    width: 350px;
    height: 75px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.tamañoLogos {
    /* CLASE TAMAÑO DE LOS LOGOS*/
    width: 125px;
}

#SeccionNombresLogos {
    /*CONTENEDOR NOMBRES LOGOS*/
    display: flex;
    justify-content: space-around;
}

/*STYLE FOOTER*/

footer {
    text-align: center;
    height: 85px;
    background-color: #1293d4;
}

#textoFooter {
    /*TEXTO FOOTER*/
    color: white;
    font-size: 15px;
    padding-top: 33px;
}

p.nombresLogos {
    /*CLASE NOMBRE LOGOS*/
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 23px;
    margin-top: 20px;
}

/*PAGINA NOSOTROS*/
#headerPagDos {
    height: 130px;
    justify-content: space-between;
    padding: 0px 360px 0px 300px;
}

#tituloHeaderPagDos {
    color: white;
    font-size: 45px;
}

#palabraheaderPagDos {
    font-size: 40px;
    color: #1292d3;
    margin-left: 10px;
    margin-top: 6px;
}

#contenedorSuscripcion {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #24282b;
    height: 90px;
    padding: 15px;
}

#seccionPagDos {
    display: flex;
    height: 940px;
    justify-content: center;
}

#columnaUno {
    /*COLUMNA UNO PAGINA DOS*/
    margin: 15px 15px 0px 15px;
    width: 50%;
}

#columnaDos {
    /*COLUMNA DOS PAGINA DOS*/
    width: 40%;
    margin: 15px 15px 15px 15px;
}

#tituloPagDos {
    font-size: 35px;
    margin: 20px 20px 25px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#parrafoUnoPagDos {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 20px 20px 0px;
    text-align: start;
}

#parrafoDosPagDos {
    font-size: 27px;
    margin: 20px 15px 25px 40px;
    background-color: #24282b;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 1255px;
}

#imagenPagDos {
    width: 1255px;
    height: 375px;
}

#footerPagDos {
    height: 100px;
    align-content: center;
}

#textoFooterPagDos {
    font-size: 30px;
    color: white;
}

#columnaDosPagDos {
    margin: 35px 15px 15px 35px;
}

#parrafoColumnaDos {
    font-size: 35px;
    background-color: #24282b;
    color: white;
    padding: 45px 30px 45px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#hacheseisPagDos {
    /*MENSAJE COTENEDOR SUSCRIPCION*/
    width: 30%;
    height: 25px;
    font-size: 20px;
}

#hachecincoPagDos {
    height: 60px;
    font-size: 25px;
}

#contenedorIngresoPagDos {
    /*CONTENEDOR DE MENSAJE Y LOGIN SUSCRIPCION*/
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: right;
    margin-right: 350px;
}

a.navegadoresPagDos {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a.navegadoresPagDos:hover {
    color: #1292d3;
}

#navegadorPagDos {
    width: 700px;
}

/*PAGINA 3*/

#headerPagTres {
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 0px 190px;
}

#tituloPagTres {
    color: white;
    font-size: 60px;
}

#palabraHeaderPagTres {
    color: #1292d3;
    margin-left: 10px;
}

#navegadorPagTres {
    width: 900px;
    margin-right: 45px;
}

a.navegadoresPagTres {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a.navegadoresPagTres:hover {
    color: #1292d3;
}

#cotenedorSuscripcionPagTres {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #24282b;
    height: 90px;
    padding: 15px;
}

#contenedorIngresoPagTres {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 230px;
    width: 45%;
}

#mensajeIngresoPagTres {
    width: 45%;
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: left;
    margin-left: 200px;
}

#hacheseisPagTres {
    width: 40%;
    height: 25px;
    font-size: 20px;
}

#hachecincoPagtres {
    height: 60px;
    font-size: 25px;
}

#subTituloPagTres {
    font-size: 40px;
    margin-bottom: 25px;
}

#seccionPagTres {
    display: flex;
    height: 915px;
    justify-content: space-around;
}

#columnaUnoPagTres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 25px 25px 45px 100px;
}

#contenedorMensajeUno {
    /*CONTENEDOR OFERTA UNO*/
    background-color: #e6e6e6;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0px 25px 30px;
}


#contenedorMensajeDos {
    /*CONTENEDOR OFERTA DOS*/
    background-color: #e6e6e6;
    height: 200px;
    padding: 25px 0px 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#contenedorMensajeTres {
    /*CONTENEDOR OFERTA TRES */
    background-color: #e6e6e6;
    height: 200px;
    padding: 25px 0px 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h3.tituloSeccionesPagTres {
    font-size: 30px;        /*CLASE TITULOS OFERTAS*/
}

#columnaDosPagTres {
    margin: 35px 15px 15px 5px;
}

#parrafoColumnaDosPagTres {         
    font-size: 30px;
    background-color: #24282b;
    color: white;
    padding: 35px 25px 35px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

p.parrafoPagTres {
    font-size: 27px;
}

#footerPagTres {
    height: 100px;
    align-content: center;
}

#textoFooterPagTres {
    font-size: 30px;
    color: white;
}

/*PAGINA CUATRO*/

#seccionPagCuatro {
    display: flex;
    justify-content: center;
    height: 890px;
}

#tituloPagCuatro {
    font-size: 35px;
    margin: 30px 0px 30px 0px;
}

#cotenedorSuscripcionPagCuatro {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #24282b;
    height: 90px;
    padding: 15px;
}

#mensajeIngresoPagCuatro {
    width: 45%;
    color: white;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#contenedorIngresoPagCuatro {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 350px;
    width: 45%;
}

#hacheseisPagCuatro {
    width: 30%;
    height: 25px;
    font-size: 20px;
}

#hachecincoPagCuatro {
    height: 60px;
    font-size: 25px;
}

h3.enunciadosPagCuatro {        /*TITULOS DE OPCIONES*/
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 900px;
}

h5.ingresosPagCuatro {              /*CONTENEDOR INGRESO DATOS*/
    font-size: 18px;
    color: grey;
    background-color: white;
    border: 2px solid grey;
    text-align: left;
    padding: 5px;
    width: 1325px;
}

#espacioVacioPagCuatro {            /*ESPACIO VACIO DESPUES DE MENSAJE*/
    border: 2px solid grey;
    height: 200px;
    width: 1335px;
}

#botonEnviarPagCuatro {         /*BOTON ENVIAR*/
    justify-content: center;
    width: 1310px;
    background-color: #e8491d;
    margin-top: 10px;
    color: white;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

#columnaUnoPagCuatro {
    margin-right: 55px;
}

#columnaDosPagCuatro {
    margin-left: 40px;
    margin-top: 25px;
    overflow: hidden;
}

#imagenPagCuatro {
    width: 700px;
    height: 475px;
    margin-top: 15px;
}

#parrafoColumnaDosPagCuatro {
    font-size: 30px;
    background-color: #24282b;
    color: white;
    padding: 35px 25px 35px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#footerPagCuatro {
    height: 100px;
    align-content: end
}

#textoFooterPagCuatro {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}