<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index(2)</title>
    <link rel="stylesheet" type="text/css" href="../Style/styleUno.css"></head>
<body>
    <header id="headerPagDos">
        <h3 id="tituloHeaderPagDos">
            Diseño <p id="palabraheaderPagDos">Multimedia</p>
        </h3>
        <nav id="navegadorPagDos">
            <a class="navegadoresPagDos" href="../index.html">INICIO</a>
            <a class="navegadoresPagDos" >NOSOTROS</a>
            <a class="navegadoresPagDos" href="indexTres.html">SERVICIOS</a>
            <a class="navegadoresPagDos" href="indexCuatro.html">CONTACTO</a>
        </nav>
    </header>
    <div id="contenedorSuscripcion">
        <h3 id="mensajeIngreso">
            Suscribete a nuestro boletín
        </h3>
        <div id="contenedorIngresoPagDos">
            <h6 id="hacheseisPagDos">
                Ingrese el Email...
            </h6>
            <h5 id="hachecincoPagDos">
                Suscribete
            </h5>
        </div>
    </div>
    <section id="seccionPagDos">
        <div id="columnaUno">
            <h4 id="tituloPagDos">
                <strong>Nosotros</strong>
            </h4>
            <p id="parrafoUnoPagDos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec varius auctor nec feugiat. Phasellus <br> 
                sit amet ex ipsum. Praesent  pharetra tincidunt tempor. Etiam velit eros,
                dapibus eget porta in, lacinia et <br>
                magna. Nam eget eros non orci consecteturcongue at ac augue. Proin eget arcu in enim feugiat <br>
                ultricies. Carabitur maximus metus nec metus pretium viverra at et orci.
                 Integer hendrerit antes ut placerat <br> cursus.
            </p>
            <p id="parrafoDosPagDos">
                Aliquiam eget pharetra diam. Nulla placerat lorem at turpis tempor,
                vel ultrices dui tincidunt. Proin <br> quis egestas lorem. Mauris vehucyla lectus
                odio, sit amet dictum justo feugiat a praesent id dictum <br>
                lacus. Sed uliamcorper id erat ut dictum. Fusce portitot lorem sapien, in aliquet sapien convails et, <br>
                Donec nec mauris nuila, Curabitur cursus semper odio, et hendreit ante, nunc at cursus ante, <br>
                Maecenas gravua ligula ut efficitur suscipit. Nulla id turpis varius,
                pretium nunc sed, fomentu, sem, <br> Sed lacinia nunc non interdum pallentesque
            </p>
            <img id="imagenPagDos" src="../Assets/891.jpg">
        </div>
        <div id="columnaDosPagDos">
            <p id="parrafoColumnaDos">
                <strong>Que Hacemos</strong><br><br>
                Lorem ipsum dolor sit amet, consectetur <br>
                adipiscing elit. Donec varius auctor lacus <br> 
                nec feugiat. Phasellussit amet ex ipsum <br>
                Praesent  pharetra tincidunt tempor. Etiam <br>
                velit eros, dapibus eget porta in, lacinia et <br>
                magna.
            </p>
        </div>
    </section>
    <footer id="footerPagDos">
        <h4 id="textoFooterPagDos">
            Graphel Desarrollo Web, Copyright © 2017
        </h4>
    </footer>

</body>
</html>