<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index(4)</title>
    <link rel="stylesheet" href="/Style/styleUno.css">
</head>
<body>
    <header>
        <h3 id="tituloPagTres">
            Diseño <p id="palabraHeaderPagTres">Multimedia</p>
        </h3>
        <nav id="navegadorPagTres">
            <a class="navegadoresPagTres">INICIO</a>
            <a class="navegadoresPagTres">NOSOTROS</a>
            <a class="navegadoresPagTres">SERVICIOS</a>
            <a class="navegadoresPagTres">CONTACTO</a>
        </nav>
    </header>
    <div id="cotenedorSuscripcionPagCuatro">
        <h3 id="mensajeIngresoPagCuatro">
            Suscribete a nuestro boletín
        </h3>
        <div id="contenedorIngresoPagCuatro">
            <h6 id="hacheseisPagCuatro">
                Ingrese el Email
            </h6>
            <h5 id="hachecincoPagCuatro">
                Suscribete
            </h5>
        </div>
    </div>
    <section id="seccionPagCuatro">
        <div id="columnaUnoPagCuatro">
        <h2 id="tituloPagCuatro">
            <strong>Contacto</strong>
        </h2>
        <h3 class="enunciadosPagCuatro">
            Nombre
        </h3>
        <h5 class="ingresosPagCuatro">
            Ingresa Tu Nombre
        </h5>
        <h3 class="enunciadosPagCuatro">
            Email
        </h3>
        <h5 class="ingresosPagCuatro">
            Ingresa Tu Email
        </h5>
        <h3 class="enunciadosPagCuatro">
            Teléfono
        </h3>
        <h5 class="ingresosPagCuatro">
            Ingresa Tu Teléfono
        </h5>
        <h3 class="enunciadosPagCuatro">
            Celular
        </h3>
        <h5 class="ingresosPagCuatro">
            Ingresa Tu Celular
        </h5>
        <h3 class="enunciadosPagCuatro">
            Mensaje
        </h3>
        <div id="espacioVacioPagCuatro">

        </div>
        <h3 id="botonEnviarPagCuatro">
            Enviar
        </h3>
    </div>
    <div id="columnaDosPagCuatro">
        <p id="parrafoColumnaDosPagCuatro">
            <strong>Que Hacemos</strong><br><br>
            Lorem ipsum dolor sit amet, consectetur <br>
            adipiscing elit. Donec varius auctor lacus <br> 
            nec feugiat. Phasellussit amet ex ipsum <br>
            Praesent  pharetra tincidunt tempor. Etiam <br>
            velit eros, dapibus eget porta in, lacinia et <br>
            magna.
        </p>
        <img id="imagenPagCuatro" src="/Assets/mapaGoogle.png">
    </div>
    </section>
    <footer id="footerPagCuatro">
        <h4 id="textoFooterPagCuatro">
            Graphel Desarrollo Web, Copyright © 2017
        </h4>
    </footer>
</body>
</html>