<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/Style/styleUno.css">
</head>

<body>
    <header>
        <h3 id="tituloHeader">
            Diseño <p id="palabraheader">Multimedia</p>
        </h3>
        <nav>
            <a class="navegadores" href="Templates/index.html">INICIO</a>
            <a class="navegadores" href="Templates/indexDos.html">NOSOTROS</a>
            <a class="navegadores" href="Templates/indexTres.html">SERVICIOS</a>
            <a class="navegadores"href="Templates/indexCuatro.html">CONTACTO</a>
        </nav>
    </header>
    <section>
        <div id="seccionUno">
            <h1>Expertos en Tecnologías Web</h1>
            <h4 id="HcuatroSeccionUno">Lorem ipsum dolor sit consectetur adipisicing elit. Minima beatae aspernatur
                alias, commodi
                molestiae<br>
                accusantium</h4>
            <div id="seccionUnoDos">
                <h3 id="mensajeIngreso">
                    Suscribete a nuestro boletín
                </h3>
                <div id="contenedorIngreso">
                    <h6>
                        Ingrese el Email...
                    </h6>
                    <h5>
                        Suscribete
                    </h5>
                </div>
            </div>
        </div>

        <div id="seccionTres">
            <div id="logos">
                <img class="tamañoLogos" src="/Assets/logo_html.png">
                <img class="tamañoLogos" src="/Assets/logo_css.png">
                <img class="tamañoLogos" src="/Assets/logo_brush.png">
            </div>
            <div id="SeccionNombresLogos">
                <p class="nombresLogos">
                    <strong>HTML5</strong>
                </p>
                <p class="nombresLogos">
                    <strong>CSS3</strong>
                </p>
                <p class="nombresLogos">
                   <strong> Diseño Gráfico</strong>
                </p>
            </div>
            <div id="descripciones">
                <p class="parrafosDescripcion">Lorem ipsum dolor sit consectetur <br> adipisicing elit.
                    Vivamus mi augue, viverra sit amet ultricies.
                </p>
                <p class="parrafosDescripcion">Lorem ipsum dolor sit consectetur <br> adipisicing elit.
                    Vivamus mi augue, viverra sit amet ultricies.
                </p>
                <p class="parrafosDescripcion">Lorem ipsum dolor sit consectetur <br> adipisicing elit.
                    Vivamus mi augue, viverra sit amet ultricies.
                </p>
            </div>
        </div>
    </section>
    <footer>
        <h4 id="textoFooter">
            Graphel Desarrollo Web, Copyright © 2017
        </h4>
    </footer>
</body>

</html>