<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index(3)</title>
    <link rel="stylesheet" href="/Style/styleUno.css">
</head>

<body>
    <header id="headerPagTres">
        <h3 id="tituloPagTres">
            Diseño <p id="palabraHeaderPagTres">Multimedia</p>
        </h3>
        <nav id="navegadorPagTres">
            <a class="navegadoresPagTres" href="../index.html">INICIO</a>
            <a class="navegadoresPagTres" href="indexDos.html">NOSOTROS</a>
            <a class="navegadoresPagTres">SERVICIOS</a>
            <a class="navegadoresPagTres" href="indexCuatro.html">CONTACTO</a>
        </nav>
    </header>
        <div id="cotenedorSuscripcionPagTres">
            <h3 id="mensajeIngresoPagTres">
                Suscribete a nuestro boletín
            </h3>
            <div id="contenedorIngresoPagTres">
                <h6 id="hacheseisPagTres">
                    Ingrese el Email
                </h6>
                <h5 id="hachecincoPagtres">
                    Suscribete
                </h5>
            </div>
        </div>
    <section id="seccionPagTres">
        <div id="columnaUnoPagTres">
            <h2 id="subTituloPagTres">
                <strong>Servicios</strong>
            </h2>
            <div id="contenedorMensajeUno">
                <h3 class="tituloSeccionesPagTres">
                    <strong>
                        Diseño Web
                    </strong>
                </h3>
                <p class="parrafoPagTres">
                    Lorem Ipsum dolor sit amet, consectetur adipiscing elit, Vivamus mi augue, viverra sit amet z<br>
                    uktricies at, vulputate id lorem. Nulla facilisi.<br><br>
                    Precio: $300000-$1000000
                </p>
            </div>
            <div id="contenedorMensajeDos">
                <h3 class="tituloSeccionesPagTres">
                    <strong>
                        Desarrollo Web
                    </strong>
                </h3>
                <p class="parrafoPagTres">
                    Lorem Ipsum dolor sit amet, consectetur adipiscing elit, Vivamus mi augue, viverra sit amet z<br>
                    uktricies at, vulputate id lorem. Nulla facilisi.<br><br>
                    Precio desde: $100000
                </p>
            </div>
            <div id="contenedorMensajeTres">
                <h3 class="tituloSeccionesPagTres">
                    <strong>
                        Hosting Web
                    </strong>
                </h3>
                <p class="parrafoPagTres">
                    Lorem Ipsum dolor sit amet, consectetur adipiscing elit, Vivamus mi augue, viverra sit amet z<br>
                    uktricies at, vulputate id lorem. Nulla facilisi.<br><br>
                    Precio: $3000000
                </p>
            </div>
        </div>
        <div id="columnaDosPagTres">
            <p id="parrafoColumnaDosPagTres">
                <strong>Que Hacemos</strong><br><br>
                Lorem ipsum dolor sit amet, consectetur <br>
                adipiscing elit. Donec varius auctor lacus <br> 
                nec feugiat. Phasellussit amet ex ipsum <br>
                Praesent  pharetra tincidunt tempor. Etiam <br>
                velit eros, dapibus eget porta in, lacinia et <br>
                magna.
            </p>
        </div>
    </section>
    <footer id="footerPagTres">
        <h4 id="textoFooterPagTres">
            Graphel Desarrollo Web, Copyright © 2017
        </h4>
    </footer>
</body>

</html>